@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("style.css") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  border-radius: 15px;
  width: 380px;
  padding: 10px;  
  background-color: rgba(55, 55, 55, 0.5);

  transition: all 0.5s linear;
}

.player button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer; 
}

#progress {
  width: 360px;
  margin-bottom: 10px;

  background-color: #d9d9f2;  
  border-radius: 10px;

  cursor: pointer;
}

#progress-bar {
  width: 0%;
  height: 5px;
  background-color:  #4cbf3f;
  border-radius: 10px;
}

.info,
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  justify-content: space-between;
}

.time-container {
  display: flex;
  align-items: center;
}

.info > div {
  margin-bottom: 8px;
 
  color: #ffffff;
  opacity: 0.8;
}

.controls button {
  margin-left: 5px;
}

.controls .volume {
  display: flex;
  align-items: center;

  margin-left: 15px;
}

.divider {
  margin-left: 5px;
}

.duration {
  margin-left: 5px;
}

.track {
  display: flex;
  align-items: center;
  margin-top: 3px;

  border-radius: 5px;  
  background-color: rgba(70, 70, 70, 0.5);
  
  cursor: pointer;
}

.track:hover .fas,
.track:hover .playlist-info-track,
.track:hover .playlist-duration {
  opacity: 1;
}

.track > div {
  margin: 10px;
}

.playlist-info-track {
  width: 80%;
}

.playlist-info-track,
.playlist-duration {
  font-size: 16px;
  color: #ffffff;

  opacity: 0.8;

  pointer-events: none;
}

.play-list {
  padding: 5px 0;
}

.active-track { 
  font-weight: bold;
  opacity: 0.9;
}

.track-play-button {
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fas {  
  color: #ffffff;
  font-size: 20px;

  opacity: 0.8;
}

.fas:hover { 
  opacity: 1;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

input[type=range]  {
  width: 100px;  
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;

  border-radius: 10px; 
  background-color: #d9d9f2;
}

input[type=range]::-webkit-slider-thumb {
  width:15px;
  height: 15px;
  margin-top: -5px;

  background-color: #CFD1CD;
  border-radius: 50%;
  cursor: pointer;
 
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: #ffffff;
}

.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;  
}

.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;

  transition: all 0.5s linear;
}

.weather-error {
  margin-top: -10px;

  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;

  transition: all 0.5s linear;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;

  transition: all 0.5s linear;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100%;
  font-size: 40px;

  transition: all 0.5s linear;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  /* flex-direction: column;
  justify-content: flex-end; */
  /* align-items: center; */
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.quotes-container {
  display: flex;  
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin: 0 auto;

  transition: all 0.5s linear;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings {
  position: relative;

  display: flex; 
  align-items: flex-end;
  padding-bottom: 3px;  
}

.settings .toggle {
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  opacity: 0.5;
  transition: opacity 0.15s ease,filter 0.15s ease;

  cursor: pointer;
}

.settings .toggle:hover {
  opacity: 1;  
}

.settings-wrapper {
  position: absolute;
  bottom: 38px;

  width: 380px;
  height: 320px;
  padding: 10px 5px;

  background-color: #000000;
  border-radius: 10px;

  transition: all 2s;
}

.settings-wrapper.menu-closed {
  visibility: hidden;
  transform: translateX(-200%);
}

.settings-wrapper.menu-opened {
  visibility: visible;  
  transform: translateX(0);
}

.settings-menu {
 height: 300px;
 margin: 0;
 padding: 15px;
 
 font-weight: 700;
 text-align: left;

 background-color: #000000;

 overflow-y: auto; 
}

.settings-menu::-webkit-scrollbar {
  width: 7px;
  background-color: #000000;
}

.settings-menu::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color:  rgba(255, 255, 255, 0.5);
}

.settings-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.settings-list {
  margin: 0;
  padding: 0; 
  list-style-type: none;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0;

  border-bottom: 1px solid grey;
}

.settings-item-name {
  margin: 0;
}

.settings-photo {
  display: flex;
  flex-wrap: wrap;
}

.settings-photo .settings-item-name {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.settings-item-name-small {
  font-size: 14px;
}

.settings-photo-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
}

.settings-photo-form label {
  display: flex;  
  margin-bottom: 12px;
  padding-right: 12px;

  font-size: 14px;
}

.settings-photo-form label input {
  margin-left: auto;
}

.switch {
  position: relative;
  display: block;
  width: 35px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  top: 3px;
  left: 1px;  
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4cbf3f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4cbf3f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;

  border: 1px solid darkgray;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0px gray inset;

  cursor: pointer;
}

input[type='radio']:hover {
  box-shadow: 0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;    
  border-radius: 50%;    
}

input[type='radio']:checked:before {
  background-color: #4cbf3f;
}

.lang-settings {
  display: flex;
  align-items: flex-end;

  margin-left: 30px;
}

.switch-lang {
  position: relative;
  display: inline-block;  
}

.switch-lang > span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #F36F25;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch-lang > span.on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.switch-lang > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  display: none;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 98px;
  height: 35px;
  background-color: #F36F25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:before, 
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #F36F25;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 3px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.settings-lang .switch-lang {
  position: relative;
  display: inline-block;  
}

.settings-lang .switch-lang > span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

.settings-lang input.check-toggle-round-flat:checked ~ .off {
  color: #4cbf3f;
}

.settings-lang input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.settings-lang .switch-lang > span.on {
  top: 6px;
  left: 0;
  padding-left: 0;
  color: #4cbf3f;
}

.settings-lang .switch-lang > span.off {
  top: 6px;
  right: 0;
  padding-right: 0;
  color: #fff;
}

.settings-lang .check-toggle {
  display: none;
}

.settings-lang .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.settings-lang input.check-toggle-round-flat + label {
  padding: 2px;
  width: 70px;
  height: 25px;
  background-color: #4cbf3f;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}

.settings-lang input.check-toggle-round-flat + label:before, 
.settings-lang input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

.settings-lang input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #4cbf3f;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.settings-lang input.check-toggle-round-flat + label:after {
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 30px;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}

.settings-lang input.check-toggle-round-flat:checked + label:after {
  margin-left: 34px;
}

/* Todo */

.todo-container {
  position: relative;

  display: flex; 
  align-items: flex-end;
  padding-bottom: 3px;

  transition: all 0.5s linear;
}

.todo-toggle {
  width: 50px;
  height: 30px;
  margin: 0;
     
  font-size: 21px;
  color: #ffffff;

  border: none;
  background: none;
  outline: none;

  cursor: pointer;
}

.todo-toggle:hover,
.todo-toggle:focus {
  opacity: 0.8;
} 

.todo-wrapper {
  position: absolute;  
  bottom: 38px; 

  width: 380px;
  height: 320px;
  padding: 10px 5px;

  background-color: #000000;
  border-radius: 10px;
}

.todo-wrapper.todo-closed {
  display: none;
}

.todo-wrapper.todo-opened {
  visibility: visible;  
  transform: translateX(-53%);
}

.todo {
  height: 300px;
  padding: 0 10px;

  background-color: #000000;
  
  overflow-y: auto;
}

.todo::-webkit-scrollbar {
  width: 7px;
  background-color: #000000;
}

.todo::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color:  rgba(255, 255, 255, 0.5);
}

.todo h2 {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

.todo ul {
	margin: 0;
	padding: 0;

  list-style-type: none;
}

.todo li * {
	float: left;
}

.todo li,
.todo h3 {
	clear: both;
	list-style: none;
}

.todo input,
.todo button {
	outline: none;
}

.todo button {
  width: 60px;
	margin: 10px 0 0;

  font-size: 14px;	
	color: #ffffff;

	background: none;
	border: 0; 
	
	cursor: pointer;
}

#add-task-button {
  width: unset;
  min-width: 80px;
  min-height: 30px;
  padding: 0 5px;

  font-size: 16px;
  font-weight: 700;

  background-color: #0FC57C;
  border-radius: 20px;
}

#add-task-button:hover {
  color: #000000;
}

.todo h3,
.todo label[for="new-task"] {	
	font-size: 15px;
	border-bottom: 2px solid #333333;
	padding: 25px 0 10px;
	margin: 0;
	text-transform: uppercase;
}

.todo input[type="text"] {
	height: 28px;
  margin: 0;
	padding: 10px;
	
	font-size: 18px;
	line-height: 18px;

	border: 1px solid #dddddd;
	background-color: #ffffff;
	border-radius: 6px;
}

.todo input[type="text"]:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

.todo label[for="new-task"] {
	display: block;
	margin: 0 0 20px;
}

.todo input#new-task {	
	width: 100%;
}

.todo p > button:hover {
	color: #0FC57C;
}

.todo li {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eeeeee;
}

.todo li > input[type="checkbox"] {
	margin: 0 10px;
	position: relative;
	top: 15px;
}

.todo li > label {
	font-size: 18px;
	line-height: 40px;
	width: 237px;
	padding: 0 0 0 11px;
}

.todo li > input[type="text"] {
	width: 226px;
}

.todo li > .edit,
.todo li > .delete {
  font-weight: 700;
}

.todo li > .edit:hover {
	color: #ffff00;
}

.todo li > .delete:hover {
	color: #CF2323;
}

#completed-tasks label {
	text-decoration: line-through;
	color: #888888;
}

.todo ul li input[type="text"] {
	display: none;
}

.todo ul li.editMode input[type="text"] {
	display: block;
}

.todo ul li.editMode label {
	display: none;
}


























@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
